PORT=4000
MONGO_URI=mongodb://localhost:27017/orbit
FRONTEND_URL=http://localhost:5173
GROQ_API_KEY=your_groq_api_key_here

DUFFEL_API_KEY=your_duffel_test_key_here
LOCATIONIQ_API_KEY=your_locationiq_api_key_here

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
